<th:block xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="end">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-/fT5v94yXpGJ3aqogWEkgAx1Gn7cinskRE4g6F7R1F6HQ8l6hL/nmUoXNELfYjxa"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"
        integrity="sha512-l0ZpSZl/kmF3GPq+k5D0tBfSpQrkjKPIGAg0gQ8fFNQiKLZlNcJi9NlFNT11yxdEsjEJbTWVnT6aYUohMvU6Dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-wwpnmzC1nZLuRtNSnYtTpSSX95uw5G5fQGyzdD3r3q1G10h67e7Hvqd6IHkY2f+a"
        crossorigin="anonymous"></script>    
</th:block>