<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:with="http://www.thymeleaf.org/extras/with"
  layout:decorate="~{LoginLayout}"
  with:title="'General Index'"
>
  <th:block layout:fragment="content">
    <div class="container-fluid mb-3">
      <section class="h-100 gradient-form" style="background-color: #eee">
        <div class="container py-5 h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
                      <div class="text-center">
                        <span
                          class="h1 text-uppercase text-primary bg-dark px-2"
                          >Master</span
                        >
                        <span
                          class="h1 text-uppercase text-dark bg-primary px-2 ml-n1"
                          >Tech</span
                        >
                        <h4 class="mt-1 mb-5 pb-1" style="font-style: italic">
                          "Si funciona, no lo toques"
                        </h4>
                      </div>

                      <form th:action="@{/send}" method="post">
                        <p>Ingrese sus credenciales de cliente</p>

                        <div class="form-outline mb-4">
                          <input
                            type="email"
                            id="form2Example11"
                            class="form-control"
                            placeholder="Phone number or email address"
                            name="username"
                          />
                          <label class="form-label" for="form2Example11"
                            >Usuario</label
                          >
                        </div>

                        <div class="form-outline mb-4">
                          <input
                            type="password"
                            id="form2Example22"
                            class="form-control"
                            name="password"
                          />
                          <label class="form-label" for="form2Example22"
                            >Contraseña</label
                          >
                        </div>

                        <div class="text-center pt-1 mb-5 pb-1">
                          <button
                            class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 py-3"
                            type="submit"
                            style="color: white !important"
                          >
                            Ingresar
                          </button>
                          <a class="text-muted">Forgot password?</a>
                        </div>
                        <div
                          th:if="${param.error}"
                          class="error-popup"
                          id="errorPopup"
                        >
                          <p th:text="${param.error}" class="error-message"></p>
                        </div>
                        <script>
                          document.addEventListener(
                            "DOMContentLoaded",
                            function () {
                              var errorPopup =
                                document.getElementById("errorPopup");
                              setTimeout(function () {
                                errorPopup.classList.add("hidden");
                                setTimeout(function () {
                                  errorPopup.remove();
                                }, 500);
                              }, 3000);
                            }
                          );
                          var usernameInput =
                            document.getElementById("form2Example11");
                          usernameInput.addEventListener("input", function () {
                            if (usernameInput.value === "miguelangelcdm@gmail.com") {
                              sessionStorage.setItem(
                                "username",
                                usernameInput.value
                              );
                            }
                          });
                        </script>
                      </form>
                    </div>
                  </div>
                  <div
                    class="col-lg-6 d-flex align-items-center gradient-custom-2"
                  >
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">Somos más que una tienda</h4>
                      <p class="small mb-0">
                        Apuntamos a ser la opcion número 1 de los Peruanos en la
                        venta de ultima tecnologia, acercandote a las ultimas
                        tendencias en entretenimiento, productividad y
                        confianza.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </th:block>
</html>
